{% extends "base_table.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Speciality</th>
        <th>Office Phone Number</th>
        <th>Personal Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in doctors %}
        <tr>
          <td>{{ doc['name']}}</td>
          <td>{{ doc['type'] }}</td>
          <td>{{ doc['speciality'] }}</td>
          <td>{{ doc['offic_phone'] }}</td>
          <td>{{ doc['personal_phone'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}