<div class="container">
  <div class="form form--signup">
    <div class="form--heading">Welcome! Sign Up</div>
    <form autocomplete="off">
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Date of Birth (MM-DD-YYYY)">
      <input type="text" placeholder="Passpost Number">
      <input type="text" placeholder="Passport Expiry (MM-DD-YYYY)">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="text" placeholder="Number of Passengers">
      <input type="text" placeholder="Emergency Contact First Name">
      <input type="text" placeholder="Emergency Contact Last Name">
      <input type="text" placeholder="Emergency Contact Contact">
      <button class="button">Sign Up</button>
    </form>
  </div>
</div>